/* ESTILIZAÇÃO GERAL*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: rgb(14, 14, 14);
}

.barra-menu {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
  position: fixed;
  z-index: 2;
  justify-content: space-between;
  padding: 0 2%;
  background-color: rgb(12, 12, 12);
}

/* Efeito com scroll */
.efeito-scroll, .img-efeito-scroll, .botao-efeito-scroll, .titulo{
  visibility: hidden;
}
/* BARRA MENU E CABELHAÇO */
header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .menu-desktop a {
  color: rgb(110, 110, 110);
  text-decoration: none;
  position: relative; 
}
header .menu-desktop a:hover{
  transform: scale(1.05);
  display: inline-block;
  color: white;
  transition: .2s;
}
header .menu-desktop a::after {
  content: '';
  position: absolute;
  left: 50%; 
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: rgb(254, 13, 13);
  transition: width 0.4s, left 0.4s;
}

header .menu-desktop a:hover::after {
  width: 100%;
  left: 0; 
}
header .menu-desktop ul {
  list-style-type: none;
}
header .menu-desktop li {
  display: inline-block;
  padding: 0 30px;
}
.botao-contato button {
  font-weight: 550;
  font-size: 15px;
  background-color: rgb(255, 19, 19);
  border: 0;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  height: 45px;
  width: 100%;
  max-width: 200px;
}
.botao-contato button:hover {
  box-shadow: 0px 0px 8px rgb(255, 19, 19);
  transform: scale(1.02);
  transition: 0.2s;
}

/* animação logo */
@keyframes flutuar {
  0%,
  100% {
  }
  33.33% {
    transform: translateY(-4px);
  }
}
@keyframes flutuar-conhecimentos {
  0%,
  100% {
  }
  33.33% {
    transform: translateY(-10px);
  }
}
.logo-site img {
  animation: flutuar 1.5s ease-in-out infinite alternate;
  filter: drop-shadow(0px 0px 6px rgb(255, 19, 19));
}

/* topo site */

section.topo-do-site {
  padding: 100px 4%;
  width: 100%;
  height: 100%;
}
section.topo-do-site .flex {
  display: flex;
  gap: 90px;
  width: 100%;
  height: 100%;
  align-items: center;
}
.topo-do-site h1 {
  color: white;
  font-size: 38px;
  line-height: 40px;
}
.topo-do-site p {
  color: white;
  margin: 25px 0;
}
.img-topo-site img {
  width: 100%;
  max-width: 625px;
  filter: drop-shadow(0px 0px 3px rgb(255, 19, 19));
}
.topo-do-site h1 {
  font-size: 37px;
  filter: drop-shadow(0 0 1px rgb(255, 19, 19));
}
.topo-do-site h1 #cursor {
  color: rgb(255, 19, 19);
  font-size: 37px;
}
.topo-do-site p span {
  color: rgb(255, 19, 19);
}

.sobre {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.conteudo-sobre .flex > img {
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
  filter: drop-shadow(0 0 8px rgb(255, 19, 19));
}
.diplomas .texto-cor-vermelho {
  font-weight: 500;
}

.conteudo-sobre .flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  gap: 50px;
}
.conteudo-sobre {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(19, 19, 19);
  min-height: 600px;
  color: white;
  padding: 85px 4%;
}
.conteudo-sobre h2 {
  font-size: 18px;
  text-align: center;
}
.sobre-mim {
  box-shadow: 0 0 2px 0px rgb(255, 19, 19), 15px 15px 0px 0px rgb(243, 0, 0);
  border-radius: 5px;
  background-color: rgb(7, 7, 7);
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  max-width: 320px;
  font-size: 13px;
  flex-direction: column;
  min-height: 270px;
}
.sobre-mim p {
  text-align: center;
  font-weight: 500;
}
.marcacao-img-sobre {
  width: 100%;
  height: 100%;
  min-height: 120px;
  display: flex;
  align-items: end;
  justify-content: center;
}
.sobre-mim img {
  width: 100%;
  max-height: 100px;
  max-width: 95px;
  filter: drop-shadow(0 0 1px rgb(255, 19, 19));
}

.sobre-cursos {
  box-shadow: 0 0 2px 0px rgb(255, 19, 19), 15px 15px 0px 0px rgb(243, 0, 0);
  border-radius: 5px;
  background-color: rgb(7, 7, 7);
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  max-width: 320px;
  flex-direction: column;
  min-height: 270px;
}
.sobre-cursos img {
  max-width: 80px;
  width: 100%;
  filter: drop-shadow(0 0 1px rgb(255, 19, 19));
}
.sobre-cursos p {
  text-align: center;
  width: 100px;
  font-weight: 500;
}

.diplomas {
  font-size: 12px;
  padding: 0 10px;
  font-weight: 500;
  width: 310px;
}
.diplomas img {
  max-width: 30px;
}
.conteudo-sobre h1 {
  font-size: 28px;
  text-align: center;
  color: white;
  filter: drop-shadow(0 0 1px rgb(255, 19, 19));
}
.sobre-cursos p {
  width: 300px;
  font-weight: 500;
}
.sobre-objetivos {
  box-shadow: 0 0 2px 0px rgb(255, 19, 19), 15px 15px 0px 0px rgb(243, 0, 0);
  border-radius: 5px;
  background-color: rgb(7, 7, 7);
  display: flex;
  width: 100%;
  align-items: center;
  gap: 10px;
  max-width: 320px;
  font-size: 13px;
  flex-direction: column;
  min-height: 270px;
}
.sobre-objetivos img {
  width: 100%;
  max-width: 85px;
  filter: drop-shadow(0 0 1px rgb(255, 19, 19));
}
.sobre-objetivos p {
  width: 305px;
  font-weight: 500;
  text-align: center;
}
.piscar-azul {
  animation: piscar 1s infinite;
  color: rgb(255, 19, 19);
}
.texto-cor-vermelho {
  color: rgb(255, 19, 19);
}
#cursor {
  animation: piscar 1s infinite;
}

@keyframes piscar {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.conteudo-conhecimentos {
  height: 100%;
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 7%;
}
.conteudo-conhecimentos .flex {
  display: flex;
  gap: 20px;
  width: 100%;
  height: 100%;
  color: white;
  padding: 0 4%;
  justify-content: space-between;
  align-items: center;
}
.conteudo-conhecimentos h1 {
  font-size: 28px;
  text-align: center;
  color: white;
  filter: drop-shadow(0 0 1px rgb(255, 19, 19));
}
.conteudo-conhecimentos .flex h2 {
  font-size: 18px;
  color: rgb(255, 19, 19);
}
.conhecimentos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 45px 0;
}
.conteudo-conhecimentos .flex .img-conhecimento {
  width: 100%;
  max-width: 450px;
  min-height: 370px;
  animation: flutuar-conhecimentos 3s ease-in-out infinite;
  filter: drop-shadow(0 0 80px rgb(255, 19, 19));
}
.conhecimentos img {
  width: 100%;
  max-width: 44px;
  filter: drop-shadow(0 0 2px rgb(255, 19, 19));
}
.card-conhecimentos {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 0;
  background-color: #111111;
  border-radius: 5px;
  max-width: 150px;
  min-height: 55px;
  max-height: 70px;
  box-shadow: 1px 5px 0 2px rgb(5, 5, 5), -3px 2px 0 0px rgb(255, 19, 19),
    8px 12px 4px 0 rgba(0, 0, 0, 0.315);
}
.sql {
  padding-left: 5px;
}

.conteudo-projetos {
  background-color: rgb(19, 19, 19);
  padding: 100px 4%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.conteudo-projetos .flex {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 50px 0;
  flex-wrap: wrap;
  max-width: 980px;
  justify-content: space-around;
}
.img-port {
  padding: 25px 2%;
  width: 20%;
  height: 360px;
  border: solid rgb(255, 19, 19);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  min-width: 250px;
  max-width: 260px;
  margin-bottom: 5%;
  margin-right: 0;
}
.img-port img {
  width: 100%;
  border-radius: 8px;
  filter: drop-shadow(0 0 3px rgb(255, 19, 19));
  margin-bottom: 12%;
}
.img-port h1 {
  color: white;
  font-size: 18px;
}
.img-port p {
  font-size: 10px;
  color: white;
}
.img-port button {
  width: 100%;
  min-width: 200px;
  height: 4.5vh;
  border-radius: 5px;
  max-height: 28px;
  outline: 0;
  border: 0;
  background-color: rgb(255, 19, 19);
  color: white;
  cursor: pointer;
}
.prontos button:hover {
  background-color: rgb(187, 14, 14);
  filter: drop-shadow(0 0 2px rgb(255, 19, 19));
  transform: scale(1.02);
}
.menu-mario span {
  font-family: "Pixelify Sans", sans-serif;
  font-size: 20px;
}
.conteudo-projetos > h1 {
  color: white;
  text-align: center;
  font-size: 28px;
  filter: drop-shadow(0 0 1px rgb(255, 19, 19));
}
.conteudo-projetos p {
  text-align: center;
}
.breve {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.breve button {
  cursor: no-drop;
  background-color: rgba(117, 0, 0, 0.74);
}
.titulo-em-breve {
  width: 100%;
  display: flex;
  justify-content: center;
}
.descricao {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  padding-top: 10%;
  height: 42%;
}
.descricao p {
  text-align: center;
}
.fita {
  width: 100%;
  min-width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transform: rotate(304deg);
  position: relative;
  top: 18%;
  border: solid 0;
  height: 35px;
  background-color: rgb(255, 19, 19);
}
.fita p {
  font-size: 24px;
  font-weight: 600;
}
.conteudo-contato {
  display: flex;
  flex-direction: column;
  padding: 100px 4%;
}
.conteudo-contato .flex {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 4%;
}

.formas-contato {
  width: 100%;
  height: 100px;
  max-width: 700px;
  border: solid rgb(255, 19, 19) 1px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4%;
}

.conteudo-contato h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-bottom: 4%;
  filter: drop-shadow(0 0 3px rgb(255, 19, 19));
}
.conteudo-contato .flex p {
  color: white;
}
.formas-contato img {
  filter: drop-shadow(0px 0px 2px rgb(255, 19, 19));
}
.conteudo-contato .logo {
  height: 50px;
}

.conteudo-contato button {
  width: 18vw;
  height: 6vh;
  border-radius: 5px;
  outline: 0;
  background-color: rgb(255, 19, 19);
  color: white;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  max-height: 38px;
  max-width: 250px;
}
.conteudo-contato button:hover {
  transform: scale(1.03);
  transition: 0.2s;
  filter: drop-shadow(0px 0px 2px rgb(255, 19, 19));
}

.conteudo-rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgb(10, 10, 10);
  padding-top: 1%;
}
.conteudo-rodape .flex {
  display: flex;
  width: 100%;
  height: 100%;
  color: white;
  align-items: center;
  justify-content: center;
  padding: 1% 4%;
  justify-content: space-between;
}
.preenchimento {
  width: 100%;
  height: 100%;
  max-width: 310px;
}
.informacoes-rodape {
  width: 28%;
  height: 100%;
  max-width: 350px;
  min-width: 300px;
}
.informacoes-rodape h2 {
  font-size: 14px;
}
.informacoes-rodape p {
  font-size: 12px;
}
.informacoes-rodape span,
a {
  color: rgb(255, 19, 19);
}
.dev-rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 220px;
  max-width: 500px;
}
.conteudo-rodape h1 {
  color: white;
  font-size: 20px;
  text-align: center;
  filter: drop-shadow(0 0 1px rgb(255, 19, 19));
}
.conteudo-rodape .flex .dev-rodape h2 {
  font-size: 40px;
  text-align: center;
  color: rgb(255, 19, 19);
  filter: drop-shadow(0 0 1px rgb(255, 19, 19));
}

.conteudo-rodape .flex img {
  width: 100%;
  max-width: 30px;
  filter: drop-shadow(0 0 1px rgb(255, 19, 19));
}
.conteudo-rodape .flex img:hover {
  cursor: pointer;
  transform: scale(1.03);
}
#menu-mobile nav a {
  color: white;
  font-size: 15px;
  padding: 20px 30px;
  display: block;
  text-decoration: none;
}
/* Menu Mobile */
#menu-mobile {
  background-color: rgb(20, 20, 20);
  position: absolute;
  top: 77px;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
}
#menu-mobile ul a {
  color: white;
  display: block;
  padding: 20px 30px;
  font-size: 18px;
  text-decoration: none;
}

#menu-mobile a:hover {
  background-color: rgb(29, 29, 29);
}
.linha {
  width: 30px;
  height: 5px;
  display: block;
  position: relative;
  height: 3px;
  background-color: white;
  display: block;
  margin: 5px auto;
  transform-origin: center;
  transition: 0.2s;
  filter: drop-shadow(0 0 2px rgb(255, 19, 19));
}
.btn-mob {
  display: none;
}
#btn-menu-mobile {
  background-color: transparent;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  outline: hidden;
  border: 0;
  cursor: pointer;
}

#btn-menu-mobile.ativar .linha:nth-child(1) {
  transform: translateY(8px) rotate(-45deg);
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(0 0 2px rgb(255, 19, 19));
}
#btn-menu-mobile.ativar .linha:nth-child(3) {
  transform: translateY(-8px) rotate(45deg);
  background-color: rgb(255, 255, 255);
  filter: drop-shadow(0 0 2px rgb(255, 19, 19));
}
#btn-menu-mobile.ativar .linha:nth-child(2) {
  width: 0;
}

@media screen and (max-width: 1020px) and (min-width: 720px) {
  /* MENU MOBILE */
  .barra-menu {
    padding: 0 4%;
  }
    .btn-mob {
      display: flex;
    }
    #menu-mobile.abrir {
      visibility: visible;
      transition: 0.2s;
    }
    /* DESATIVANDO MENU-DESKTOP */
    .menu-desktop{
      display: none;
    }
  /* PRIMEIRA SEÇÃO */
  .topo-do-site {
    display: flex;
  }
  .topo-do-site .flex img {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
  .topo-do-site .flex {
    display: flex;
    flex-direction: column;
  }
  .topo-do-site h1 {
    font-size: 35px;
    line-height: 25px;
  }
  .conteudo-txt-topo p {
    font-size: 18px;
    width: 600px;
  }
  .topo-do-site button{
    width: 100%;
    max-width: 230px;
    font-size: 17px;
  }
  /* CONTEUDO SOBRE */
  .conteudo-sobre{
    justify-content: center;
    align-items: center;
  }
  .conteudo-sobre .flex > img {
    max-width: 250px;
  }
  .card-sobre {
    max-width: 280px;
    max-height: 200px;
  }
  .diplomas {
    width: 100%;
    max-width: 280px;
    padding: 0;
    font-size: 11.5px;
    padding-left: 4%;
  }
  .conteudo-sobre .sobre {
    flex-direction: column;
    gap: 50px;
  }
  .diplomas .texto-cor-vermelho {
    font-weight: 600;
  }
  .sobre-objetivos p {
    font-size: 12.5px;
    width: 260px;
  }
  /* CONTEUDO CONHECIMENTOS */
  .conteudo-conhecimentos .flex {
    flex-direction: column;
  }

  /* CONTEUDO FORMAS DE CONTATO */
  .conteudo-contato .flex{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
  }
  .formas-contato {
    flex-direction: column;
    min-height: 160px;
    gap: 10px;
    max-width: 300px;
    padding: 10px 0;
  }
  .formas-contato button {
    min-width: 200px;
  }
  /* CONTEÚDO RODAPÉ */
  .preenchimento {
    display: none;
  }
  .informacoes-rodape {
    display: none;
  }
  .conteudo-rodape .flex {
    justify-content: center;
  }
}

@media screen and (max-width: 719px){
  /* MENU MOBILE */
  .btn-mob {
    display: flex;
  }
  #menu-mobile.abrir {
    visibility: visible;
    transition: 0.2s;
  }
  /* DESATIVANDO MENU-DESKTOP */
  .menu-desktop {
    display: none;
  }
  /* PRIMEIRA SEÇÃO */
  .topo-do-site {
    display: flex;
    padding: 50px 4%;
}
  .topo-do-site .flex img {
    max-width: 300px;
  }
  .topo-do-site .flex {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0 8%;
  }
  .topo-do-site h1 {
    font-size: 25px;
    line-height: 30px;
  }
  .conteudo-txt-topo p {
    font-size: 18px;
    width: 100%;
  }
  .topo-do-site button{
    width: 100%;
    max-width: 180px;
    font-size: 15px;
  }
  /* CONTEUDO SOBRE */
  .conteudo-sobre{
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 80px 0;
  }
  .conteudo-sobre .flex{
    padding: 0;
  }
  .conteudo-sobre .flex > img {
    max-width: 250px;
  }
  .card-sobre {
    max-width: 280px;
    max-height: 200px;
  }
  .diplomas {
    width: 100%;
    max-width: 280px;
    padding: 0;
    font-size: 11px;
    padding-left: 4%;
  }
  .conteudo-sobre .sobre {
    flex-direction: column;
    gap: 50px;
  }
  .diplomas .texto-cor-vermelho {
    font-weight: 600;
  }
  .sobre-mim p{
    font-size: 12px;
  }
  .sobre-objetivos p {
    font-size: 12px;
    width: 260px;
  }
  /* CONTEUDO CONHECIMENTOS */
  .conteudo-conhecimentos{
    gap: 50px;
    padding: 80px 0;
  }
  .conteudo-conhecimentos .flex {
    flex-direction: column;

  }
  .conteudo-conhecimentos .flex h2{
    font-size: 18px;
  }
  .conteudo-conhecimentos h1{
    font-size: 25px;
  }
  .conteudo-conhecimentos .flex .img-conhecimento {
    min-height: 310px;
    filter: drop-shadow(0 0 50px rgb(255, 19, 19));
  }
/* CONTEUDO PROJETOS */
.conteudo-projetos{
  padding: 80px 0;
}
.conteudo-projetos .flex{
  gap: 30px;
}
  /* CONTEUDO FORMAS DE CONTATO */
  .conteudo-contato{
    padding: 50px 4%;
    gap: 35px;
    padding: 80px 0;
  }
  .conteudo-contato .flex{
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    
  }
  .formas-contato {
    flex-direction: column;
    min-height: 160px;
    gap: 10px;
    max-width: 250px;
    padding: 10px 0;
    font-size: 14px;
  }
  .formas-contato button {
    min-width: 200px;
  }
  /* CONTEÚDO RODAPÉ */
  .preenchimento {
    display: none;
  }
  .informacoes-rodape {
    display: none;
  }
  .conteudo-rodape .flex {
    justify-content: center;
    padding-bottom: 15px;
    
  }
  .conteudo-rodape .flex .dev-rodape h2 {
    font-size: 32px;
  }
}
